@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Rubik+Doodle+Shadow&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0 20px;
  align-items: center;
  height: 60px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}
img[src="logo"] {
  width: 40px;
}
nav .logo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Rubik Doodle Shadow", sans-serif;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-family: "Baloo Bhai 2";
  font-size: 20px;
}
main {
  min-height: calc(100vh - 120px);
  padding: 10px 20px;
  font-family: "Baloo Bhai 2";
}
main p {
  width: 40vw;
}
footer {
  background-color: black;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 18px;
  font-family: "Baloo Bhai 2";
}
form {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 40px;
  margin: 10px 0;
}
form input {
  height: 100%;
  width: 250px;
  font-family: "Baloo Bhai 2";
  font-size: 20px;
  padding: 0 10px;
  border-radius: 10px;
  border: 2px solid black;
}
input:focus {
  border: 3px solid red;
}
input::placeholder {
  font-size: 16px;
}
form button {
  height: 100%;
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: black;
  font-family: "Baloo Bhai 2";
  font-size: 18px;
  box-shadow: 4px 4px 2px rgb(189, 74, 74);
}
form button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
form button:active {
  margin-top: 4px;
  margin-left: 4px;
  box-shadow: 0 0;
}
.result {
  font-size: 20px;
  position: relative;
  left: 100px;
  margin: 20px 0;
}
@media screen and (max-width: 800px) {
  main p {
    width: 90vw;
  }
}
@media screen and (max-width: 500px) {
  main {
    padding: 0 5px;
  }
  nav {
    flex-direction: column;
    padding: 20px 0;
    justify-content: center;
    height: auto;
    padding: 10px 0;
    gap: 10px;
  }
  form {
    flex-direction: column;
  }
  form input {
    width: 60vw;
  }
  #btn {
    width: 30vw;
    font-size: 13px;
    padding: 5px 0;
  }
  nav ul {
    gap: 15px;
    flex-direction: column;
    align-items: center;
  }
  nav ul li a {
    font-size: 14px;
  }
  main {
    font-size: 13px;
  }
  footer {
    font-size: 14px;
    margin-top: 10px;
    height: auto;
  }
  form input {
    font-size: 15px;
  }
  .result {
    font-size: 15px;
    left: 0;
    margin-top: 35px;
  }
  .result img {
    width: 50px;
  }
}
@media screen and (max-width: 250px) {
  img[src*="logo"] {
    width: 20px;
  }
  .logo {
    font-size: 14px;
  }
}
